<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DOS</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="d-flex flex-grow-1 flex-row sidebar">
  
    <ul class="nav flex-column bg-dark bg-gradient pt-4">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-plus-lg"></i> New Ticket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-pie-chart"></i> Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-code-square"></i> WorkFlows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-plug"></i> Plugins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="settings"><i class="bi bi-sliders"></i> Settings</a>
      </li>
    </ul>

    <div class="flex-grow-1 m-5 mt-4">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>