<div class="d-flex flex-column">
    <h2>My Open Tickets</h2>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Ticket #</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Add workflows</td>
            <td>Enhancement</td>
            <td>Approved</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Fix UI bug</td>
            <td>Production Problem</td>
            <td>In Development</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Improve api speed</td>
            <td>Enhancement</td>
            <td>Ready</td>
          </tr>
        </tbody>
      </table>
</div>
